In [1]:
import numpy as np
import pandas as pd
from Functions import *
import datetime

In [2]:
url = "https://data.ct.gov/api/views/rybz-nyjw/rows.csv?accessType=DOWNLOAD"
Drug_Deaths = pd.read_csv(url)
url2 = "https://data.ct.gov/api/views/erbt-mpgb/rows.csv?accessType=DOWNLOAD"
Addiction_Treatment = pd.read_csv(url2)

## Hypothesis I :
The proportion of deaths vs the total number of people admitted for the consumption of the drug Heroin is greater than the proportion of deaths vs the total number of people admitted for the consumption of the drug Cocaine.

Extracting Date Col as a seperate Col for Admissions File

In [8]:
Drug_Deaths = extract_year(Drug_Deaths) # calling the function to get year col in Drug Deaths 
# Creating a new dataframe to store the date for years 2014-2016

Drug_Deaths_Clean = Drug_Deaths[(Drug_Deaths.FiscalYear == 2014) | (Drug_Deaths.FiscalYear == 2015) | (Drug_Deaths.FiscalYear == 2016)]

,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,...,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo,FiscalYear
0,14-0273,06/28/2014 12:00:00 AM,DateReported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)",2014
2,16-0165,03/13/2016 12:00:00 AM,DateofDeath,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,...,NaN,NaN,NaN,NaN,Y,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN,2016
3,16-0208,03/31/2016 12:00:00 AM,DateofDeath,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,...,NaN,NaN,NaN,NaN,Y,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN,2016
5,14-0277,06/29/2014 12:00:00 AM,DateofDeath,23.0,Male,White,BRISTOL,NaN,NaN,BRISTOL,...,NaN,NaN,NaN,NaN,NaN,Accident,"BRISTOL, CT\n(41.673037, -72.945791)","BRISTOL, CT\n(41.673037, -72.945791)","CT\n(41.575155, -72.738288)",2014
11,15-0334,07/05/2015 12:00:00 AM,DateReported,49.0,Female,White,NaN,NaN,NaN,NEW HAVEN,...,NaN,NaN,NaN,NaN,Y,Accident,"New Haven, CT\n(41.308252, -72.924161)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)",2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5098,14-0166,04/17/2014 12:00:00 AM,DateofDeath,56.0,Male,White,PLYMOUTH,NaN,NaN,PLYMOUTH,...,NaN,NaN,NaN,NaN,NaN,Accident,"PLYMOUTH, CT\n(41.671982, -73.052909)","PLYMOUTH, CT\n(41.671982, -73.052909)","CT\n(41.575155, -72.738288)",2014
5099,15-0013,01/07/2015 12:00:00 AM,DateReported,45.0,Female,White,WATERBURY,NEW HAVEN,CT,WATERBURY,...,NaN,NaN,NaN,NaN,Y,Accident,"WATERBURY, CT\n(41.554261, -73.043069)","WATERBURY, CT\n(41.554261, -73.043069)","CT\n(41.575155, -72.738288)",2015
5100,15-0466,09/08/2015 12:00:00 AM,DateReported,43.0,Male,White,CHESHIRE,NEW HAVEN,CT,CHESHIRE,...,NaN,NaN,NaN,NaN,NaN,Accident,"CHESHIRE, CT\n(41.498834, -72.901448)","CHESHIRE, CT\n(41.498834, -72.901448)","CT\n(41.575155, -72.738288)",2015
5103,14-0124,03/16/2014 12:00:00 AM,DateofDeath,33.0,Male,White,HARTFORD,NaN,NaN,WINDSOR,...,NaN,NaN,NaN,NaN,NaN,Accident,"WINDSOR, CT\n(41.852781, -72.64379)","HARTFORD, CT\n(41.765775, -72.673356)","CT\n(41.575155, -72.738288)",2014
5104,16-0637,09/15/2016 12:00:00 AM,DateofDeath,33.0,Male,White,THOMASTON,LITCHFIELD,CT,WATERBURY,...,NaN,NaN,NaN,NaN,Y,Accident,"WATERBURY, CT\n(41.554261, -73.043069)","THOMASTON, CT\n(41.674124, -73.073189)","WATERBURY, CT, CT\n(41.554261, -73.043069)",2016